@font-face {
	font-family: 'F5.6';
	src: url('/_media/fonts/F5.6-Regular.eot');
	src: url('/_media/fonts/F5.6-Regular.eot?#iefix') format('embedded-opentype'),
		url('/_media/fonts/F5.6-Regular.woff2') format('woff2'),
		url('/_media/fonts/F5.6-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	/*--font-size: 2rem;*/
}

body.dark {
	--bg-color: #000;
	--bg-secondary-color: #131316;
	--font-color: #f5f5f5;
	--color-grey: #ccc;
	--color-darkGrey: #777;
}

body {
	font-family: 'F5.6';
}

p#word {
	font-size: 4rem;
}
